In [1]:
import findspark
findspark.init()

In [2]:
import csv
import pandas as pd
import numpy as np
from pyspark import SparkConf,SparkContext
from pyspark.sql import Row
from pyspark.sql.types import *
from pyspark.sql import SparkSession
from datetime import datetime
import pyspark.sql.functions as func

In [3]:
spark = SparkSession.builder.config("master", "local[4]").getOrCreate()

In [4]:
df=spark.read.csv(r'data.csv',header=True,inferSchema=True)

In [6]:
df.show()# 每次show（）时间太长了，就跳过了

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+---+--------+----+-------------------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|day|week_day|hour|               date|          duration|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+---+--------+----+-------------------+------------------+
|       2| 2019-12-02 10:09:59|  2019-12-02 10:50:00|              2|        17.67|         3|                 N|         233|           1|           2|       69.5|  0.0|    0.0|       0.0|          18|                  0.3|        87.8|                 0.0|  2|       2|  10|2019-12-02 00:00:00|40.016666666666666|
|       2| 2019-12-04 05:48:24|  2019-12-04 06:20:24|              2|        17.92|         3|                 N|          48|           1|           1|       67.0|  0.5|    0.0|      12.0|          15|                  0.3|        94.8|                 0.0|  4|       4|   5|2019-12-04 00:00:00|              32.0|
|       2| 2019-12-04 12:01:03|  2019-12-04 12:42:07|              1|        15.57|         5|                 N|         161|           1|           1|       60.0|  0.0|    0.5|       0.0|           0|                  0.3|        63.3|                 2.5|  4|       4|  12|2019-12-04 00:00:00| 41.06666666666667|
|       2| 2019-12-01 00:07:47|  2019-12-01 00:17:35|              2|         1.78|         1|                 N|         211|           4|           1|        9.0|  0.5|    0.5|      2.56|           0|                  0.3|       15.36|                 2.5|  1|       1|   0|2019-12-01 00:00:00|               9.8|
|       1| 2019-12-01 05:19:39|  2019-12-01 05:31:27|              1|          2.5|         1|                 N|          68|           4|           1|       10.5|  3.0|    0.5|       2.2|           0|                  0.3|        16.5|                 2.5|  1|       1|   5|2019-12-01 00:00:00|              11.8|
|       2| 2019-12-01 11:59:35|  2019-12-01 12:35:03|              1|         5.47|         1|                 N|         162|           4|           1|       25.5|  0.0|    0.5|       4.0|           0|                  0.3|        32.8|                 2.5|  1|       1|  11|2019-12-01 00:00:00| 35.46666666666667|
|       2| 2019-12-01 16:50:13|  2019-12-01 16:59:40|              1|         1.23|         1|                 N|         107|           4|           1|        8.0|  0.0|    0.5|      2.26|           0|                  0.3|       13.56|                 2.5|  1|       1|  16|2019-12-01 00:00:00|              9.45|
|       1| 2019-12-01 21:09:52|  2019-12-01 21:20:48|              1|          3.6|         2|                 N|          80|           4|           1|       52.0|  2.5|    0.5|       7.0|           0|                  0.3|        62.3|                 2.5|  1|       1|  21|2019-12-01 00:00:00|10.933333333333334|
|       2| 2019-12-01 23:24:15|  2019-12-01 23:39:16|              1|         3.14|         1|                 N|         186|           4|           1|       12.5|  0.5|    0.5|      3.26|           0|                  0.3|       19.56|                 2.5|  1|       1|  23|2019-12-01 00:00:00|15.016666666666667|
|       2| 2019-12-02 01:12:55|  2019-12-02 01:29:18|              3|         8.89|         1|                 N|         138|           4|           1|       26.0|  0.5|    0.5|      8.94|           0|                  0.3|       38.74|                 2.5|  2|       2|   1|2019-12-02 00:00:00|16.383333333333333|
|       2| 2019-12-02 15:50:57|  2019-12-02 15:58:34|              1|         0.96|         1|                 N|         113|           4|           1|        6.5|  0.0|    0.5|      1.96|           0|                  0.3|       11.76|                 2.5|  2|       2|  15|2019-12-02 00:00:00| 7.616666666666666|
|       2| 2019-12-02 17:51:51|  2019-12-02 18:03:34|              1|          1.9|         1|                 N|         170|           4|           1|        9.5|  1.0|    0.5|      3.45|           0|                  0.3|       17.25|                 2.5|  2|       2|  17|2019-12-02 00:00:00|11.716666666666667|
|       1| 2019-12-02 20:17:04|  2019-12-02 20:34:03|              4|          1.6|         1|                 N|         107|           4|           2|       12.0|  3.0|    0.5|       0.0|           0|                  0.3|        15.8|                 2.5|  2|       2|  20|2019-12-02 00:00:00|16.983333333333334|
|       2| 2019-12-02 23:44:27|  2019-12-02 23:50:25|              1|         1.01|         1|                 N|          79|           4|           1|        6.0|  0.5|    0.5|      2.45|           0|                  0.3|       12.25|                 2.5|  2|       2|  23|2019-12-02 00:00:00| 5.966666666666667|
|       2| 2019-12-03 13:28:10|  2019-12-03 13:40:42|              2|         1.06|         1|                 N|         234|           4|           1|        9.0|  0.0|    0.5|       2.0|           0|                  0.3|        14.3|                 2.5|  3|       3|  13|2019-12-03 00:00:00|12.533333333333333|
|       2| 2019-12-03 18:30:09|  2019-12-03 18:53:23|              4|          2.8|         1|                 N|         246|           4|           1|       16.0|  1.0|    0.5|      4.06|           0|                  0.3|       24.36|                 2.5|  3|       3|  18|2019-12-03 00:00:00|23.233333333333334|
|       2| 2019-12-03 20:05:48|  2019-12-03 20:14:05|              1|          0.7|         1|                 N|          79|           4|           1|        6.5|  0.5|    0.5|      2.06|           0|                  0.3|       12.36|                 2.5|  3|       3|  20|2019-12-03 00:00:00| 8.283333333333333|
|       1| 2019-12-03 23:15:01|  2019-12-03 23:22:39|              1|          1.3|         1|                 N|         107|           4|           1|        7.5|  3.0|    0.5|      3.35|           0|                  0.3|       14.65|                 2.5|  3|       3|  23|2019-12-03 00:00:00| 7.633333333333334|
|       2| 2019-12-04 00:09:49|  2019-12-04 00:44:09|              2|         9.64|         1|                 N|         162|           4|           1|       31.0|  0.5|    0.5|      6.96|           0|                  0.3|       41.76|                 2.5|  4|       4|   0|2019-12-04 00:00:00|34.333333333333336|
|       2| 2019-12-01 00:49:23|  2019-12-01 01:08:53|              2|          4.6|         1|                 N|         230|           7|           1|       17.0|  0.5|    0.5|      4.16|           0|                  0.3|       24.96|                 2.5|  1|       1|   0|2019-12-01 00:00:00|              19.5|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+---+--------+----+-------------------+------------------+
only showing top 20 rows

In [7]:
df.dtypes

[('VendorID', 'int'),
 ('tpep_pickup_datetime', 'timestamp'),
 ('tpep_dropoff_datetime', 'timestamp'),
 ('passenger_count', 'int'),
 ('trip_distance', 'double'),
 ('RatecodeID', 'int'),
 ('store_and_fwd_flag', 'string'),
 ('PULocationID', 'int'),
 ('DOLocationID', 'int'),
 ('payment_type', 'int'),
 ('fare_amount', 'double'),
 ('extra', 'double'),
 ('mta_tax', 'double'),
 ('tip_amount', 'double'),
 ('tolls_amount', 'int'),
 ('improvement_surcharge', 'double'),
 ('total_amount', 'double'),
 ('congestion_surcharge', 'double'),
 ('day', 'int'),
 ('week_day', 'int'),
 ('hour', 'int'),
 ('date', 'timestamp'),
 ('duration', 'double')]

In [5]:
def set_ID(a,b):
    if a>=b:
        return 1000*b+a
    else :
        return 1000*a+b

In [6]:
df1=df.select('trip_distance','PULocationID','DOLocationID','day','week_day','hour','duration')

In [7]:
df2=df1.rdd.map(lambda x:Row(x[0],x[3],x[4],x[5],x[6],set_ID(x[1],x[2]))).toDF(['trip_distance','day','week_day','hour', 'duration','ID'])

In [8]:
df2=df2.groupBy('ID').agg({'duration':'mean'}).sort('ID')

In [9]:
df2=df2.withColumnRenamed('avg(duration)','duration')

In [10]:
df2.show()

+----+------------------+
|  ID|          duration|
+----+------------------+
|1001|  2.36358024691358|
|1004| 52.06666666666667|
|1012| 88.18333333333334|
|1013| 39.99895833333333|
|1024| 62.15833333333333|
|1025|              96.1|
|1033|              67.1|
|1036|             49.75|
|1039| 41.43333333333333|
|1041| 51.22222222222222|
|1043| 53.38761904761905|
|1045|57.300000000000004|
|1048|41.537363834422656|
|1050|36.535185185185185|
|1065| 33.36666666666667|
|1066|             37.95|
|1068| 42.40700483091788|
|1075|             47.75|
|1079|  43.0186274509804|
|1083|              57.2|
+----+------------------+
only showing top 20 rows

In [10]:
T=df2.selectExpr('ID%1000 as ID1','duration','ID')
T=T.selectExpr('ID1','(ID-ID1)/1000 as ID2','duration')
T=T.select('ID1',T['ID2'].astype(IntegerType()),'duration')

In [17]:
T.show()

+---+---+------------------+
|ID1|ID2|          distance|
+---+---+------------------+
|  1|  1| 1.428148148148148|
|  4|  1|             16.23|
| 12|  1|             16.95|
| 13|  1|15.268750000000002|
| 24|  1|26.192500000000003|
| 25|  1|             18.93|
| 33|  1|             18.88|
| 36|  1|             19.85|
| 39|  1|             28.23|
| 41|  1|24.573333333333334|
| 43|  1|19.497714285714284|
| 45|  1| 18.73428571428571|
| 48|  1| 17.83666666666667|
| 50|  1| 17.31222222222222|
| 65|  1|            16.855|
| 66|  1|              15.3|
| 68|  1| 16.65536231884058|
| 75|  1|             21.82|
| 79|  1| 15.44705882352941|
| 83|  1|             20.29|
+---+---+------------------+
only showing top 20 rows

In [11]:
dfz=spark.read.csv(r'taxi_zones.csv',header=True,inferSchema=True)

In [12]:
dfz0=dfz.join(T, T.ID1 == dfz.LocationID, "inner")

In [13]:
dfz1=dfz0.select('ID1','ID2','Borough','duration')
dfz1=dfz1.withColumnRenamed('Borough','Borough1')

In [14]:
dfz1=dfz1.join(dfz,dfz1.ID2==dfz.LocationID,"inner")

In [55]:
dfz1.show()

+---+---+--------------------+------------------+----------+---------+--------------------+------------+
|ID1|ID2|               Zone1|          distance|LocationID|  Borough|                Zone|service_zone|
+---+---+--------------------+------------------+----------+---------+--------------------+------------+
|132| 40|         JFK Airport|21.373728571428575|        40| Brooklyn|     Carroll Gardens|   Boro Zone|
|132| 86|         JFK Airport| 8.541727272727274|        86|   Queens|        Far Rockaway|   Boro Zone|
|126| 42|         Hunts Point| 4.035500000000001|        42|Manhattan|Central Harlem North|   Boro Zone|
|230|193|Times Sq/Theatre ...|3.8778378378378378|       193|   Queens|Queensbridge/Rave...|   Boro Zone|
|231|209|TriBeCa/Civic Center|0.9718301982714795|       209|Manhattan|             Seaport| Yellow Zone|
|265|265|                  NA| 4.348022181146027|       265|  Unknown|                  NA|         N/A|
|114| 66|Greenwich Village...| 3.093392070484581|        66| Brooklyn|  DUMBO/Vinegar Hill|   Boro Zone|
|167| 75|  Morrisania/Melrose|  4.17241935483871|        75|Manhattan|   East Harlem South|   Boro Zone|
|180| 77|          Ozone Park|               3.6|        77| Brooklyn|East New York/Pen...|   Boro Zone|
|114| 74|Greenwich Village...| 6.956942675159236|        74|Manhattan|   East Harlem North|   Boro Zone|
|229|127|Sutton Place/Turt...| 9.264761904761905|       127|Manhattan|              Inwood|   Boro Zone|
|166| 45| Morningside Heights| 8.716129032258063|        45|Manhattan|           Chinatown| Yellow Zone|
|148| 35|     Lower East Side| 7.206666666666667|        35| Brooklyn|         Brownsville|   Boro Zone|
|182|163|         Parkchester|11.165000000000001|       163|Manhattan|       Midtown North| Yellow Zone|
|209| 33|             Seaport|2.1044102564102563|        33| Brooklyn|    Brooklyn Heights|   Boro Zone|
|192|173|     Queensboro Hill|              3.64|       173|   Queens|        North Corona|   Boro Zone|
|261| 37|  World Trade Center| 6.415106382978724|        37| Brooklyn|      Bushwick South|   Boro Zone|
|264| 75|                  NV| 2.489464285714286|        75|Manhattan|   East Harlem South|   Boro Zone|
|106| 79|             Gowanus|             5.301|        79|Manhattan|        East Village| Yellow Zone|
| 91| 66|           Flatlands| 9.323636363636362|        66| Brooklyn|  DUMBO/Vinegar Hill|   Boro Zone|
+---+---+--------------------+------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [15]:
df_zone=dfz1.select('ID1','ID2','Borough','Borough1','duration')
df_zone=df_zone.withColumnRenamed('Borough','Borough2')

In [16]:
df_zone=df_zone.sort('ID2','ID1')

In [55]:
df_zone.show()

+---+---+--------+---------+------------------+
|ID1|ID2|Borough2| Borough1|          duration|
+---+---+--------+---------+------------------+
|  1|  1|     EWR|      EWR|  2.36358024691358|
|  4|  1|     EWR|Manhattan| 52.06666666666667|
| 12|  1|     EWR|Manhattan| 88.18333333333334|
| 13|  1|     EWR|Manhattan| 39.99895833333333|
| 24|  1|     EWR|Manhattan| 62.15833333333333|
| 25|  1|     EWR| Brooklyn|              96.1|
| 33|  1|     EWR| Brooklyn|              67.1|
| 36|  1|     EWR| Brooklyn|             49.75|
| 39|  1|     EWR| Brooklyn| 41.43333333333333|
| 41|  1|     EWR|Manhattan| 51.22222222222222|
| 43|  1|     EWR|Manhattan| 53.38761904761905|
| 45|  1|     EWR|Manhattan|57.300000000000004|
| 48|  1|     EWR|Manhattan|41.537363834422656|
| 50|  1|     EWR|Manhattan|36.535185185185185|
| 65|  1|     EWR| Brooklyn| 33.36666666666667|
| 66|  1|     EWR| Brooklyn|             37.95|
| 68|  1|     EWR|Manhattan| 42.40700483091788|
| 75|  1|     EWR|Manhattan|             47.75|
| 79|  1|     EWR|Manhattan|  43.0186274509804|
| 83|  1|     EWR|   Queens|              57.2|
+---+---+--------+---------+------------------+
only showing top 20 rows

In [17]:
df_zone.coalesce(1).write.option("header", "true").csv("Brough.csv")

In [17]:
df3=df1.groupBy('PULocationID','DOLocationID').agg({'trip_distance':'mean'}).sort('PULocationID','DOLocationID')
df3.show()

+------------+------------+------------------+
|PULocationID|DOLocationID|avg(trip_distance)|
+------------+------------+------------------+
|           1|           1| 1.428148148148148|
|           1|         162|             35.07|
|           1|         264|              0.79|
|           1|         265|             13.58|
|           2|          45|             19.27|
|           2|         216|               3.8|
|           2|         218|               3.5|
|           2|         237|              17.2|
|           3|           3|1.0975000000000001|
|           3|          32|1.0333333333333334|
|           3|          42|             9.145|
|           3|          47|               2.8|
|           3|          51|              2.29|
|           3|          78|3.6999999999999997|
|           3|          81|             2.635|
|           3|         127|               4.5|
|           3|         142|             13.63|
|           3|         147|               4.4|
|           3|         174|               4.6|
|           3|         182|3.3899999999999997|
+------------+------------+------------------+
only showing top 20 rows

In [12]:
df3.where(df3['DOLocationID']==1).show()

+------------+------------+------------------+
|PULocationID|DOLocationID|avg(trip_distance)|
+------------+------------+------------------+
|           1|           1| 1.428148148148148|
|           4|           1|             16.23|
|          12|           1|             16.95|
|          13|           1|15.268750000000002|
|          24|           1|26.192500000000003|
|          25|           1|             18.93|
|          33|           1|             18.88|
|          36|           1|             19.85|
|          39|           1|             28.23|
|          41|           1|24.573333333333334|
|          43|           1|19.497714285714284|
|          45|           1| 18.73428571428571|
|          48|           1| 17.83666666666667|
|          50|           1| 17.31222222222222|
|          65|           1|            16.855|
|          66|           1|              15.3|
|          68|           1| 16.65536231884058|
|          75|           1|             21.82|
|          79|           1| 15.44705882352941|
|          83|           1|             20.29|
+------------+------------+------------------+
only showing top 20 rows

In [3]:
dfz=spark.read.csv(r'taxi_zone.csv',header=True,inferSchema=True)

NameError: name 'spark' is not defined

In [18]:
hours = df2.pivot_table(
    index='day',
    columns='hour',
    values='ID',
    aggfunc='count'
)

AttributeError: 'DataFrame' object has no attribute 'pivot_table'

In [29]:
df2.coalesce(1).write.option("header", "true").csv("data2.csv")

In [30]:
df0=df2.select("*").toPandas()

Py4JJavaError: An error occurred while calling o200.collectToPython.
: java.lang.OutOfMemoryError: GC overhead limit exceeded
	at org.apache.spark.sql.execution.SparkPlan$$anon$1._next(SparkPlan.scala:391)
	at org.apache.spark.sql.execution.SparkPlan$$anon$1.getNext(SparkPlan.scala:402)
	at org.apache.spark.sql.execution.SparkPlan$$anon$1.getNext(SparkPlan.scala:388)
	at org.apache.spark.util.NextIterator.hasNext(NextIterator.scala:73)
	at scala.collection.Iterator.foreach(Iterator.scala:943)
	at scala.collection.Iterator.foreach$(Iterator.scala:943)
	at org.apache.spark.util.NextIterator.foreach(NextIterator.scala:21)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeCollect$1(SparkPlan.scala:425)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeCollect$1$adapted(SparkPlan.scala:424)
	at org.apache.spark.sql.execution.SparkPlan$$Lambda$4046/1514218375.apply(Unknown Source)
	at scala.collection.IndexedSeqOptimized.foreach(IndexedSeqOptimized.scala:36)
	at scala.collection.IndexedSeqOptimized.foreach$(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.ArrayOps$ofRef.foreach(ArrayOps.scala:198)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:424)
	at org.apache.spark.sql.Dataset.$anonfun$collectToPython$1(Dataset.scala:3688)
	at org.apache.spark.sql.Dataset$$Lambda$3999/1007198195.apply(Unknown Source)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:3858)
	at org.apache.spark.sql.Dataset$$Lambda$1925/1962184514.apply(Unknown Source)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:510)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3856)
	at org.apache.spark.sql.Dataset$$Lambda$1591/70266614.apply(Unknown Source)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:109)
	at org.apache.spark.sql.execution.SQLExecution$$$Lambda$1602/795154898.apply(Unknown Source)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:169)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:95)
	at org.apache.spark.sql.execution.SQLExecution$$$Lambda$1592/1901635149.apply(Unknown Source)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3856)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3685)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)